.section__header{
    background-image: url(../assets/image-1.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.section__header .section__wrapper{
    position: relative;
    padding: 0;
}
.skipContent a{
    color: $white;
    text-decoration: none;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    padding: 20px;
    top: 10%;
    &:hover{
        color: $darkGrey;
        transition: 0.5s;
    }
    &:focus{
        pointer-events: all;
        opacity: 1;
        background-color: $darkBlue;
        border-radius: 10px;
        animation: skipContent 0.5s ease-out 1;
        left: 7%;
    }
}
@keyframes skipContent {
    0%{
        left: -5%;
    }
    100%{
        left: 7%;
    }
}
.navBar{
    display: flex;
    flex: 1 0 33%;
}
.navBar__list{
    list-style-type: none;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:0;
    position: relative;
}
.navBar__link{
    text-decoration: none;
    text-transform: uppercase;
    color: $darkGrey;
    font-weight: 700;
    padding: 0 15px;
    transition: 0.3s;
    &:hover{
        color: $white;
        transition: 0.3s;
    }    
}
.section__header .navBar__list>li:nth-last-child(2)>.navBar__link{
    padding-right: 0;
}
.section__header .navBar__list>li:last-child{
    display: none;
    .navBar__link{
        @include fontSize(40);
    }
    &:hover{
        background-color: $overlayGreyTransl;
        border-radius: 10px;
        transition: background-color 0.5s;
    }
}
.welcome{
    position: absolute;
    top: 250%;
    left: 0;
}
.welcome .button{
    margin-top: 20px;
}
.welcome .subTitle{
    margin: 5px 0;
}