$montserrat: "Montserrat", sans-serif;
$openSans: "Open Sans", sans-serif;

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}
html{
    font-size: 35%;
}
.pageTitle,.section__title,.subTitle,.block__title,.button, .article__title{
    text-transform: uppercase;
    font-family: $montserrat;
    font-weight: 700;
}

.pageTitle{
    @include fontSize(83);
    font-color: $darkGrey;
    margin: 0;
}
.section__title{
    @include fontSize(48);
    margin: 0;
}
.subTitle, .article__title{
    @include fontSize(34);
}
.block__title, .navBar__link, .button{
    @include fontSize(24);
}
.section__text{
    font-family: $openSans;
    @include fontSize(26);
    color: $textGrey;
    text-align: center;
    margin: 35px 0;
}
.article__text, .article__para, .block__text, .block__list, .copyright__text{
    font-family: $openSans;
    @include fontSize(16);
}
.block .fa-chart-line, .block .fa-laptop, .block .fa-object-group{
    @include fontSize(80);
}
@media(max-width: 940px){
    html{
        font-size: 45%;
    }

}