article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 35%; }

.pageTitle, .section__title, .subTitle, .block__title, .button {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }

.pageTitle {
  font-size: 83px;
  font-size: 8.3rem;
  font-color: #1d1d1d;
  margin: 0; }

.section__title {
  font-size: 48px;
  font-size: 4.8rem;
  margin: 0; }

.subTitle {
  font-size: 34px;
  font-size: 3.4rem; }

.block__title, .navBar__link, .button {
  font-size: 24px;
  font-size: 2.4rem; }

.section__text {
  font-size: 26px;
  font-size: 2.6rem;
  color: #5d5e5d;
  text-align: center;
  margin: 35px 0; }

.article__text, .article__para, .block__text, .block__list {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-size: 1.6rem; }

.block .fa-chart-line, .block .fa-laptop, .block .fa-object-group {
  font-size: 80px;
  font-size: 8rem; }

@media (max-width: 940px) {
  html {
    font-size: 45%; } }

.section__header {
  background-image: url(../corporate/assets/image-1.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh; }

.section__header .section__wrapper {
  position: relative;
  padding: 0; }

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%; }

.navBar__list {
  list-style-type: none;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0;
  position: relative; }

.navBar__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d1d1d;
  font-weight: 700;
  padding: 0 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .navBar__link:hover {
    color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.navBar__list > li:last-child > .navBar__link {
  padding-right: 0; }

.welcome {
  position: absolute;
  top: 250%;
  left: 0; }

.welcome .button {
  margin-top: 20px; }

.welcome .subTitle {
  margin: 5px 0; }

.bodyWrapper {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.button {
  height: 40px;
  width: auto;
  padding: 0 30px;
  max-width: 100%;
  border-radius: 10px;
  background-color: #0e5f88;
  color: #efeeee;
  border: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .button:hover {
    background-color: #efeeee;
    color: #0e5f88;
    border: 1px solid #0e5f88;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.section__title__block .section__title {
  margin: 25px 0; }

.section__wrapper, .wrapper {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px 0; }

.article__wrapper {
  width: 65%;
  margin: 0 auto; }
  .article__wrapper .section__title {
    margin-bottom: 40px; }

.section {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%; }

.section__title__blue {
  color: #0e5f88; }

.section__grey {
  background-color: #f1f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5%; }

.articleBlock {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .articleBlock .article__image {
    height: 70px;
    margin-right: 10px; }
  .articleBlock .article__text .subTitle {
    margin: 0;
    text-transform: capitalize; }

.articleImg {
  width: 50%;
  height: auto; }

.section__services .section__title {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.section__block {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 30px; }
  .section__block .block {
    border: 1px solid #8ecceb;
    border-radius: 10px;
    max-width: 30%;
    padding: 20px 20px; }
    .section__block .block .block__title, .section__block .block .block__text {
      text-align: center; }
    .section__block .block .block__list {
      margin: 0 auto;
      width: 50%;
      list-style-type: none;
      padding: 0; }
    .section__block .block .block__title:first-child {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .section__block .block .block__title:first-child:hover {
      font-size: 90px;
      font-size: 9rem;
      margin: 0;
      color: #0e5f88;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  .section__block .block__blue {
    background-color: #8ecceb; }

.block__listItem {
  margin-bottom: 5px; }

.section__black {
  background-color: #1d1d1d; }
  .section__black .fa-angle-left, .section__black .fa-angle-right {
    color: #cacecf;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3%;
    flex: 0 0 3%;
    font-size: 55px;
    font-size: 5.5rem;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .section__black .fa-angle-left:hover, .section__black .fa-angle-right:hover {
      font-size: 65px;
      font-size: 6.5rem;
      color: #0e5f88;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  .section__black .section__wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.section__title__grey {
  color: #dfdede;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  text-align: center; }

.section__text__grey {
  color: #d2d7d8; }

.section__text__italic {
  color: #ffffff;
  font-style: italic; }

.section__image__black {
  height: 125px;
  position: relative;
  margin: 0 25px; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .gallery figure {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%; }
    .gallery figure img {
      max-width: 100%;
      height: 100%; }
